html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	
	background: white; /* Old browsers */
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
	user-select:none;

	opacity: 1;
	transition: opacity .5s ease-out .25s;

	.isLoading & {
		opacity: 0;
	}
}

.button-next {
	$scale:0.25;
	$width:260px * $scale;
	$height:119px * $scale;

	position: fixed;
	z-index: 9999;
	width: $width;
	height: $height;
	bottom: 80px;
	left:50%;
	margin-left: -$width/2;
	border: none;
	outline: none;
	cursor: none;
	opacity: 0;
	pointer-events: none;

	transition: opacity .25s ease-out;

	.active & {
		cursor: pointer;
		opacity: 1;
		pointer-events: auto;
		transition: opacity .5s ease-out;
	}
}


.Message {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: calc(50% - 50px);
	text-align: center;
	letter-spacing: 11px;
	color:black;

	opacity: 0;
	transition:opacity .5s ease-out, letter-spacing .5s ease-out;

	.isLoading & {
		letter-spacing: 10px;
		opacity: 1;
	}
}

.Loading-Bar {
	position: absolute;
	z-index: 998;
	width: 0%;
	height:1px;
	top:50%;
	background:rgba(0, 0, 0, .5);
	opacity: 0;

	transition:width .5s ease-out, opacity .5s ease-out;

	.isLoading & {
		opacity: 1;
	}
}