#root,
.App {
	position: absolute;
	width: 100%;
	height:100%;

	left:0;
	top:0;
}

.App-LinkToAbout {
	position: fixed;
	padding:25px;
}


.App-LinkToAbout svg {
	width:20px;
	height:20px;
	fill:#000;
}


/*	TRANSITIONS	*/

.example-enter {
  /*opacity: 0.01;*/
  /*transition: opacity .25s ease-out;*/
	transform: translate(100%, 0);
	transition: transform .5s ease-out;
}

.example-enter.example-enter-active {
	transform: translate(0, 0);
}

.example-leave {
	transform: translate(0, 0);
	transition: transform .25s ease-in;
}

.example-leave.example-leave-active {
	transform: translate(100%, 0);
}