.listContainer {
  max-width: 1215px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 50px 0px 100px 0px;
}

@media (max-width: 1215px) {
  .listContainer {
    max-width: 900px;
  }
}

@media (max-width: 915px) {
  .listContainer {
    max-width: 600px;
  }
}

@media (max-width: 615px) {
  .listContainer {
    max-width: 300px;
  }
}

.itemContainer {
  width: 280px;
  height: 280px;
  box-sizing: content-box;
  margin: 10px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1;

  /* animation */
  transition: transform 0.25s ease-out, filter 0.25s ease-out;
  filter: grayscale(60%);
}

.imageWrapper:hover {
  transform: scale(0.95);
  filter: grayscale(0%);
}

.experimentContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;

  top: 0;
  left: 0;
}

.closeButton {
  position: absolute;
  padding: 25px;
  cursor: pointer;
  z-index: 9999;
  filter: invert(100%);
}

.closeButton svg {
  width: 20px;
  height: 20px;
  fill: #21211e;
}
