/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/Header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Header_aboutIcon__Ti6_n {
  position: fixed;
  padding: 25px;
  color: #ffffff;
  font-family: Arial ffffff;
  text-decoration: none;
  z-index: 999;
}

.Header_aboutIcon__Ti6_n svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/Experiments.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Experiments_listContainer__ggDdv {
  max-width: 1215px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 50px 0px 100px 0px;
}

@media (max-width: 1215px) {
  .Experiments_listContainer__ggDdv {
    max-width: 900px;
  }
}

@media (max-width: 915px) {
  .Experiments_listContainer__ggDdv {
    max-width: 600px;
  }
}

@media (max-width: 615px) {
  .Experiments_listContainer__ggDdv {
    max-width: 300px;
  }
}

.Experiments_itemContainer__Pl143 {
  width: 280px;
  height: 280px;
  box-sizing: content-box;
  margin: 10px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Experiments_imageWrapper__SHDbU {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1;

  /* animation */
  transition: transform 0.25s ease-out, filter 0.25s ease-out;
  filter: grayscale(100%);
}

.Experiments_imageWrapper__SHDbU:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

.Experiments_experimentContainer__Cy57P {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;

  top: 0;
  left: 0;
}

.Experiments_closeButton__t_4Ah {
  position: absolute;
  padding: 25px;
  cursor: pointer;
  z-index: 9999;
  filter: invert(100%);
}

.Experiments_closeButton__t_4Ah svg {
  width: 20px;
  height: 20px;
  fill: #21211e;
}

.Experiments_videoContainer__EuAMk {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  /* display: none; */
}

.Experiments_show___22MS {
  display: block;
}

