
.About-Background,
.About-Page {
	position: fixed;
	width: 100%;
	height:100%;

	left:0;
	top:0;
	background: black;

	a {
		text-decoration: none;
	}
}

.About-Page {
	
}

.About-Background {
	width: 50%;
	z-index: 0;
}


.About-CloseButton {
	position: absolute;
	padding:20px;
	cursor: pointer;
	z-index:9999;

	svg {
		width: 20px;
		height: 20px;
		fill: #ffffff; 
	}
}


.About-Link {
	color:rgb(150, 150, 150);
	font-family: Verdana, Arial;
	letter-spacing: 1.5px;
	font-size:12px;

	transition: color .5s ease-out;

	&:hover {
		color:black;
	}
}


.About-Desc {
	color:black;
	font-family: Verdana, Arial;
	font-size:12px;
	line-height: 24px;
	margin-bottom:24px;
	letter-spacing: 1px;

	&.with-link {
		margin-bottom: 0px;
	}
}

.About-RightPanel {
	position: absolute;
	width:50%;
	height:100%;
	margin-left:50%;
	background:white;

	padding:20px;
	box-sizing: border-box;

    display: flex;
    align-items: flex-end;

    .isOpened & {
    	margin-left: 50%;
    }
}


