html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
  position: fixed;

  background: black;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
text,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

.Main-Canvas {
  user-select: none;

  opacity: 1;
  transition: opacity 0.5s ease-out 0.25s;

  .isLoading & {
    opacity: 0;
  }
}

.desc {
  position: fixed;
  width: 100%;
  top: 45%;
  text-align: center;
  line-height: 24px;
  color: white;

  display: none;

  .no-webgl2 & {
    display: block;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Message {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: calc(50% - 50px);
  text-align: center;
  letter-spacing: 11px;
  color: white;

  opacity: 0;
  transition: opacity 0.5s ease-out, letter-spacing 0.5s ease-out;

  .isLoading & {
    letter-spacing: 10px;
    opacity: 1;
  }
}

.Loading-Bar {
  position: absolute;
  z-index: 998;
  width: 0%;
  height: 1px;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;

  transition: width 0.5s ease-out, opacity 0.5s ease-out;

  .isLoading & {
    opacity: 1;
  }
}

.env {
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: white;
  top: 100px;
  font-size: 24px;
  padding: 20px;
}
