html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282828+0,000000+100 */
	background: #282828; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #282828 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #282828 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #282828 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	transition: background .5s ease-out;

	&.is-invert {
		background: #fff;
	}
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p {
	/*-webkit-font-smoothing: antialiased;*/
	/*-moz-osx-webkit-font-smoothing: antialiased;*/
}

.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
	user-select:none;
}


.Message {
	position: absolute;
	width: 100%;
	top: calc(50% - 50px);
	text-align: center;
	font-family: Trebuchet MS, Verdana;
	letter-spacing: 10px;
	z-index: 999;
	color:white;

	opacity: 0;
	transition:opacity .5s ease-out;

	.isLoading & {
		opacity: 1;
	}
}

.Loading-Bar {
	position: absolute;
	z-index: 998;
	width: 0%;
	height:1px;
	top:50%;
	background:rgba(255, 255, 255, .5);
	opacity: 0;

	transition:width .5s ease-out, opacity .5s ease-out;

	.isLoading & {
		opacity: 1;
	}
}

$grey: 225;
.descriptions {
	color: rgba($grey, $grey, $grey, 1);
	transition: color .5s ease-out;
	font-family: Trebuchet MS, Verdana;
	letter-spacing: 5px;
	font-size: 12px;

	position: absolute;
	user-select: none;
	left:0;
	bottom :0;
	z-index: 9999;

	padding :20px;

	a {
		color:inherit;
		/*text-decoration: none;*/
	}

	.is-invert & {
		color: rgba(20, 20, 20, 1);
	}

	.is-mobile & {
		font-size:36px;
	}
}


.description {
	.is-mobile & {
		display: none;
	}
}