html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	
	$gradient0: #333333;
	$gradient1: #000000;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6d6d+0,000000+100 */
	background: $gradient0; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  $gradient0 0%, $gradient1 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  $gradient0 0%,$gradient1 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  $gradient0 0%,$gradient1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
	user-select:none;

	opacity: 1;
	transition: opacity .5s ease-out .25s;

	.isLoading & {
		opacity: 0;
	}
}


.Message {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: calc(50% - 50px);
	text-align: center;
	letter-spacing: 11px;
	color:white;

	opacity: 0;
	transition:opacity .5s ease-out, letter-spacing .5s ease-out;

	.isLoading & {
		letter-spacing: 10px;
		opacity: 1;
	}
}

.Loading-Bar {
	position: absolute;
	z-index: 998;
	width: 0%;
	height:1px;
	top:50%;
	background:rgba(255, 255, 255, .5);
	opacity: 0;

	transition:width .5s ease-out, opacity .5s ease-out;

	.isLoading & {
		opacity: 1;
	}
}