/*main.scss*/
#root,
.App {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.App-LinkToAbout {
  position: fixed;
  padding: 25px; }

.App-LinkToAbout svg {
  width: 20px;
  height: 20px;
  fill: #000; }

/*	TRANSITIONS	*/
.fadeIn-enter {
  /*transform: translate(100%, 0);*/
  opacity: 0;
  transition: opacity .5s ease-out; }

.fadeIn-enter.fadeIn-enter-active {
  /*transform: translate(0, 0);*/
  opacity: 1; }

.fadeIn-leave {
  /*transform: translate(0, 0);*/
  opacity: 1;
  transition: opacity .25s ease-in; }

.fadeIn-leave.fadeIn-leave-active {
  /*transform: translate(100%, 0);*/
  opacity: 0; }

.slideIn-appear,
.slideIn-enter {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }

.slideIn-appear.slideIn-appear-active,
.slideIn-enter.slideIn-enter-active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.slideIn-leave {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in; }

.slideIn-leave.slideIn-leave-active {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0); }

.slideInDelay-appear {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  transition: -webkit-transform 0.4s ease-out 0.1s;
  transition: transform 0.4s ease-out 0.1s;
  transition: transform 0.4s ease-out 0.1s, -webkit-transform 0.4s ease-out 0.1s; }

.slideInDelay-appear.slideInDelay-appear-active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.slideInDelay-leave {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in; }

.slideInDelay-leave.slideInDelay-leave-active {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0); }

.About-Background,
.About-Page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  color: white; }
  .About-Background a,
  .About-Page a {
    text-decoration: none; }

.About-Background {
  width: 50%;
  z-index: 0; }

.About-CloseButton {
  position: absolute;
  padding: 20px;
  cursor: pointer;
  z-index: 9999; }
  .About-CloseButton svg {
    width: 30px;
    height: 30px;
    fill: #ffffff; }

.About-Link {
  color: #969696;
  font-family: Verdana, Arial;
  letter-spacing: 1.5px;
  font-size: 12px;
  transition: color .5s ease-out; }
  .About-Link:hover {
    color: black; }

.About-Desc {
  color: black;
  font-family: Verdana, Arial;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  letter-spacing: 1px; }

.About-RightPanel {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .isOpened .About-RightPanel {
    margin-left: 50%; }

/*_experiment.scss*/
.Experiment-List {
  max-width: 1215px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 50px; }

@media (max-width: 1215px) {
  .Experiment-List {
    max-width: 900px; } }
@media (max-width: 915px) {
  .Experiment-List {
    max-width: 600px; } }
@media (max-width: 615px) {
  .Experiment-List {
    max-width: 300px; } }
.Experiment-Item {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  margin: 10px; }

.Experiment-Content {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0; }
